@model UserViewModel

<br />
<div>
    <label asp-for="@Model.Id" class="col-form-label"></label>
    <input class="form-control" asp-for="@Model.Id" readonly />
    
</div>

<div>
    <label asp-for="@Model.Fname" class="col-form-label"></label>
    <input class="form-control" asp-for="@Model.Fname" readonly />
</div>

<div>
    <label asp-for="@Model.Lname" class="col-form-label"></label>
    <input class="form-control" asp-for="@Model.Lname" readonly />
   
</div>

<div>
    <label asp-for="@Model.Email" class="col-form-label"></label>
    <input class="form-control" asp-for="@Model.Email" readonly />

</div>

<div>
    <label asp-for="@Model.PhoneNumber" class="col-form-label"></label>
    <input class="form-control" asp-for="@Model.PhoneNumber" readonly />
    
</div>

