@model EmployeeViewModel

@{
    var departments = new SelectList(ViewBag.Departments, "Id", "Name");
    //var departments = new SelectList(DR.GetAll(), "Id", "Name");
}

<div>
    <img src="~/Files/Images/@Model.ImageName" class="rounded" width="40" height="40" alt="Emloyee Image">
</div>
<br />
<div>
    <label asp-for="@Model.Name" class="col-form-label"></label>
    <input class="form-control" asp-for="@Model.Name" readonly />
    <span asp-validation-for="@Model.Name" class="btn btn-danger"></span>
</div>

<div>
    <label asp-for="@Model.Age" class="col-form-label"></label>
    <input class="form-control" asp-for="@Model.Age" readonly />
    <span asp-validation-for="@Model.Age" class="btn btn-danger"></span>
</div>
<div>
    <label asp-for="@Model.Address" class="col-form-label"></label>
    <input class="form-control" asp-for="@Model.Address" readonly />
    <span asp-validation-for="@Model.Address" class="btn btn-danger"></span>
</div>
<div>
    <label asp-for="@Model.Salary" class="col-form-label"></label>
    <input class="form-control" asp-for="@Model.Salary" readonly />
    <span asp-validation-for="@Model.Salary" class="btn btn-danger"></span>
</div>

<div>
    <label asp-for="@Model.department" class="col-form-label"></label>
    <select class="form-control" asp-items="departments" asp-for="DepartmentId" readonly>
        <option value="@null">-----Select Department-------</option>
    </select>
</div>

<div>
    <label asp-for="@Model.Email" class="col-form-label"></label>
    <input class="form-control" asp-for="@Model.Email" readonly />
    <span asp-validation-for="@Model.Email" class="btn btn-danger"></span>
</div>
<div>
    <label asp-for="@Model.PhoneNumber" class="col-form-label"></label>
    <input class="form-control" asp-for="@Model.PhoneNumber" readonly />
    <span asp-validation-for="@Model.PhoneNumber" class="btn btn-danger"></span>
</div>
<div>
    <label asp-for="@Model.ISActive" class="col-form-label"></label>
    <input class="form-control" asp-for="@Model.ISActive" readonly />
    <span asp-validation-for="@Model.ISActive" class="btn btn-danger"></span>
</div>
<div>
    <label asp-for="@Model.HireDate" class="col-form-label"></label>
    <input class="form-control" asp-for="@Model.HireDate" readonly />
    <span asp-validation-for="@Model.HireDate" class="btn btn-danger"></span>
</div>